body{
    margin: 0;
    background: linear-gradient(to right, lightgreen, lightblue);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

/* Heading */
.heading{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(6, 6, 57);
    padding: 10px;
}

/* Text below heading */
.info-text{
    font-size: 1.2rem;
}

/* Containing all the notes */
.container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    padding: 40px;
}

/* Styling the note */
.note{
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-sizing: border-box;
    font-size: 1.1rem;
}
.note::placeholder{
    opacity: 0.4;
    transition: all .3s ease;
}
.note:hover, .note:focus{
    cursor: pointer;
    box-shadow: 0px 0px 7.5px rgba(0,0,0,0.3);
}

/* Button element */
.btn{
    background-color: rgba(255,255,255,0.25);
    border: none;
    border-radius: 15px;
    height: 200px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    font-size: 3rem;
    color: rgba(0,0,0,0.3);
    outline: none;
    transition: all .3s ease;
}
.btn:hover{
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 0px 7.5px rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
}