*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: orchid;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender{
    background-color: black;
    color: whitesmoke;
    width: 450px;
    height: 435px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.month{
    width: 100%;
    height: 100px;
    background-color: darkcyan;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weekdays{
    width: 100%;
    height: 40px;
    display: flex;
}
.weekdays div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 2px; */
}
.days div{
    margin: 3px;
    width: 58px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.days div:hover:not(.empty){
    border: 2px solid grey;
    box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.1);
    cursor: pointer;
}
.today{
    border: 2px solid darkgrey;
    background-color: darkcyan;
}