body{
    margin: 0;
    background-color: rgb(250, 128, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: cursive;
}

.container{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.heading{
    font-size: 1.7rem;
}

textarea{
    resize: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid gray;
    outline: none;
}

.count-container{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
.count-container p{
    color: darkslategray;
}
.total-counter{
    color: blue;
}
.remaining-counter{
    color: red;
}